node_modules
vendor
.git
.env
storage/*.key
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
docker
Dockerfile
docker-compose.yml
.phpunit.result.cache
.vscode
