.th{
    width: 15rem;
}

.link{
    width: 5rem;
}

textarea{
    padding: 2%;
}

.edited{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & p{
        margin-bottom: -0.1rem;
        font-size: 0.9rem;
    }
}
